n8n-workflow-daily-report.json
{
  "name": "Habit Breaker - Daily Report",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 20 * * *"
            }
          ]
        }
      },
      "name": "Schedule: Every day at 8 PM",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1,
      "position": [250, 300]
    },
    {
      "parameters": {
        "url": "http://localhost:3000/api/daily-report",
        "method": "POST",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "userEmail",
              "value": "={{$json.userEmail || 'demo@habitbreaker.ai'}}"
            },
            {
              "name": "format",
              "value": "json"
            }
          ]
        },
        "options": {}
      },
      "name": "Generate Daily Report",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [450, 300]
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={{$json.success}}",
              "value2": true
            }
          ]
        }
      },
      "name": "Check Success",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [650, 300]
    },
    {
      "parameters": {
        "url": "http://localhost:3000/api/daily-report",
        "method": "POST",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "userEmail",
              "value": "={{$json.report.userEmail}}"
            },
            {
              "name": "format",
              "value": "html"
            }
          ]
        }
      },
      "name": "Get HTML Report",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [850, 200]
    },
    {
      "parameters": {
        "operation": "sendEmail",
        "fromEmail": "noreply@habitbreaker.ai",
        "toEmail": "={{$json.report.userEmail}}",
        "subject": "🚫 Your Daily Habit Report - {{$json.report.date}}",
        "emailFormat": "html",
        "html": "={{$binary.data.toString('utf8')}}",
        "options": {}
      },
      "name": "Send Email",
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 1,
      "position": [1050, 200],
      "notes": "Configure SMTP settings (Gmail recommended for free tier)"
    },
    {
      "parameters": {
        "url": "http://localhost:3000/api/daily-report",
        "method": "POST",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "userEmail",
              "value": "={{$json.report.userEmail}}"
            },
            {
              "name": "format",
              "value": "text"
            }
          ]
        }
      },
      "name": "Get Text Report",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [850, 400]
    },
    {
      "parameters": {
        "channel": "#habit-breaker",
        "text": "={{$json.body}}",
        "otherOptions": {}
      },
      "name": "Send to Slack",
      "type": "n8n-nodes-base.slack",
      "typeVersion": 1,
      "position": [1050, 400],
      "notes": "Optional: Configure Slack Webhook for team notifications"
    }
  ],
  "connections": {
    "Schedule: Every day at 8 PM": {
      "main": [
        [
          {
            "node": "Generate Daily Report",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate Daily Report": {
      "main": [
        [
          {
            "node": "Check Success",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Success": {
      "main": [
        [
          {
            "node": "Get HTML Report",
            "type": "main",
            "index": 0
          },
          {
            "node": "Get Text Report",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get HTML Report": {
      "main": [
        [
          {
            "node": "Send Email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Text Report": {
      "main": [
        [
          {
            "node": "Send to Slack",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  }
}

